{% extends 'analysis/base.html' %}
{% load static %}

{% block page_title %}Генератор протоколов{% endblock %}

{% block content %}
<div class="protocols-container">
    <h2 class="section-title">Выберите тип протокола</h2>
    
    <div class="protocols-grid">
        <div class="protocol-card">
            <a class="card-link" href="{% url 'upload' %}">
                <i class="fas fa-file-alt card-icon"></i>
                <span>Пресс объединённый</span>
            </a>
        </div>

        
        <div class="protocol-card">
            <a class="card-link" href="{% url 'Press_Protocols_Stubs' %}">
                <i class="fas fa-plug card-icon"></i>
                <span>Пресс заглушки</span>
            </a>
        </div>
        
        <div class="protocol-card">
            <a class="card-link" href="{% url 'ppu_testus_all' %}">
                <i class="fas fa-table card-icon"></i>
                <span>Вибростолик объединённый</span>
            </a>
        </div>
        
        
        <div class="protocol-card">
            <a class="card-link" href="#">
                <i class="fas fa-plug card-icon"></i>
                <span>Вибростолик заглушки</span>
            </a>
        </div>
        
        <div class="protocol-card">
            <a class="card-link" href="{% url 'OD_elone' %}">
                <i class="fas fa-tablets card-icon"></i>
                <span>Остаточная деформация единичный</span>
            </a>
        </div>
        
        <div class="protocol-card">
            <a class="card-link" href="{% url 'OD_generate' %}">
                <i class="fas fa-plug card-icon"></i>
                <span>Остаточная деформация заглушки</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- Подключаем Font Awesome для иконок -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}