{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}PlotLab{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="icon" href="{% static 'images/icon.png' %}">
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/protocol.css' %}">
</head>
<body>
    <header class="main-header">
        <div class="nav-container">
            <a href="{% url 'home' %}" class="logo">PlotLab</a>
            <nav class="nav-menu">
                <a href="{% url 'box_san' %}">Коробочка</a>
                <a href="{% url 'vibro' %}">Вибростол</a>
                <a href="{% url 'Servo' %}">Пульсатор</a>
                <a href="{% url 'protocol' %}">Протоколы</a>
            </nav>
        </div>
    </header>

    <header class="page-header">
        <h1>{% block page_title %}PlotLab{% endblock %}</h1>
    </header>

    <div class="glass-container">
        {% block content %}{% endblock %}
    </div>
    
    {% block script %}{% endblock %}
    
    <script>
        // При отправке формы:
        if (!document.getElementById('csvFile').files.length) {
            e.preventDefault();
            const errorElement = document.createElement('div');
            errorElement.textContent = 'Выберите файл в формате .txt';
            errorElement.style.color = 'red';
            document.getElementById('csvFile').after(errorElement);
        }
    </script>
</body>
</html>